@import "tailwindcss";

@layer base {
  /* 여기는 전역 스타일을 추가하는 곳입니다 */
  li {
    @apply p-4
  }

  button {
    @apply text-white border bg-slate-600 border-slate-600
    hover:bg-transparent hover:text-slate-600 rounded-md
  }
}

